<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">

    <a
      class="navbar-brand fw-bold"
      routerLink="/movies">

      <i class="bi bi-film"></i>
      Movies CRUD

    </a>

    <div class="navbar-nav ms-auto">

      <a
        routerLink="/movies"
        routerLinkActive="active"
        class="nav-link">

        Movies

      </a>

      <a
        routerLink="/directors"
        routerLinkActive="active"
        class="nav-link">

        Directors

      </a>

    </div>

  </div>
</nav>