<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a
            class="navbar-brand"
            routerLink="/movies">

            Movies CRUD

        </a>

        <div class="navbar-nav">

            <a
                class="nav-link"
                routerLink="/movies"
                routerLinkActive="active">

                Movies

            </a>

            <a
                class="nav-link"
                routerLink="/directors"
                routerLinkActive="active">

                Directors

            </a>

        </div>

    </div>

</nav>